<h2>消費金額 <%= @cart.total_price %></h2>

<%= simple_form_for @order do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :tel %>
  <hr />
  <div id="payment-form"></div>
  <hr />
  <%= f.submit '刷卡!!', class:'btn btn-danger' %>
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.30.0.min.js"></script>
<script>
var clientToken = "<%= @token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
