<table class="table">
  <tr>
    <td>商品名稱</td>
    <td>數量</td>
    <td>單價</td>
    <td>小計</td>
  <tr/>

  <% @cart.items.each do |item| %>
  <tr>
    <td><%= item.product.title %></td>
    <td><%= item.quantity %></td>
    <td><%= item.product.price %></td>
    <td><%= item.total_price %></td>
  <tr/>
  <% end %>
  <tr>
    <td colspan="3">總計</td>
    <td><%= @cart.total_price %></td>
  </tr>
</table>
<%= link_to '繼續購物', products_path, class:'btn btn-default' %>
<%= link_to '結帳', checkout_cart_path, class:'btn btn-danger' %>
